# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.TP-SYN.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\antoi\Desktop\School\Prog-Jeux\TP-SYN\.idea\.idea.TP-SYN\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
